@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');
  
:root {
  --main-bg-color: #FFB3C1;
  --purple: #37008a;
  --islandaqua: #00C9B8;
}
  
* {
 font-family: 'Blinker', sans-serif;
}

h4 {
  font-size: 14px;
  text-align: center;
  color: white;
  font-weight: 400;
}

.homepage, .authentication {
  position: fixed;
  background-color: var(--main-bg-color);
  background-repeat: repeat;
  background-size: 225% 150%, cover;
  background-position: center, 50% 50%;
  height: 100%;
  width: 100%;
}

.authentication {
  background-color: var(--islandaqua);
}


  
.main__title {
  text-align: center;
  color: var(--purple);
  font-size: 4.8em;
  line-height: 0.9em;
  font-weight: 800;
}

.main__btns { 
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 50px;
  width: 100%;
}

.main__link {
  font-weight: bold;
  text-decoration: none;
  border: 3px solid white;
  border-radius: 3px;
  width: 80%;
  max-width: 630px;
  padding: 13px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 25px;
  color: white;
}

.pick__date {
  color:var(--purple);
  background-color: white;
}
