  @import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');

  /* font-family: 'Blinker', sans-serif; */
  :root {
    --main-bg-color: rgb(242, 202, 209);
  }
  
  *{
    background-color: var(--main-bg-color); 
      font-family: 'Blinker', sans-serif;

  }
  .main__title{
    text-align: center;
    color: darkblue;
font-size: 50px;
line-height: 1em;

  }

.main__btns{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 100px;
  width: 100%;
}
.main__link{
  font-weight: bold;

  text-decoration: none;
  border: 2px solid white;
  width: 80%;
  padding: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 25px;
  color: white;
}
.pick__date{
  color: darkblue;
  background-color: white;
}
