@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');
    
$main-bg-color:  #FFB3C1;
$purple:#37008a; 
$islandaqua: #00C9B8;


* {
 font-family: 'Blinker', sans-serif;
 letter-spacing: 0.02em;
}



h2, h4 {
  padding: 30px 0 30px;
  font-size: 28px;
  text-align: center;
  color: $purple;
  font-weight: 300;
}

h4 {
  font-size: 20px;
  color: white;
  font-weight: 600;
}


.homepage, .authentication {
  position: fixed;
  background-color: $main-bg-color;
  background-repeat: repeat;
  background-size: 225% 150%, cover;
  background-position: center, 50% 50%;
  height: 100%;
  width: 100%;
  letter-spacing: 0.00em;
}

.authentication {
  background-color: $islandaqua;
}
  
.main__title {
  position: relative;
  top: 12%;
  vertical-align: middle;
  text-align: center;
  color: $purple;
  font-size: 4.8em;
  line-height: 0.9em;
  font-weight: 800;
}

@media only screen and (max-height: 800px) {
  .main__title {
    top: 5%;
      font-size: 3.8em;
    }
}

@media only screen and (max-width: 400px) {
  .main__title {
      font-size: 3.8em;
    }
}

@media only screen and (min-width: 801px) {
  .main__title {
      font-size: 5.8em;
    }
}

.main__btns { 
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 70px;
  width: 100%;
}

.main__link, .pick__date {
  font-weight: 600;
  text-decoration: none;
  border: 3px solid white;
  border-radius: 3px;
  width: 80%;
  max-width: 630px;
  padding: 13px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 25px;
  color: white;
}


.pick__date {
  background-color: white;
  color: #37008a;
}

