@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');


  
:root {
  --main-bg-color: #FFB3C1;
  --purple: hsl(264, 100%, 27%);
}
  
* {
   background-color: var(--main-bg-color); 
   font-family: 'Blinker', sans-serif;
}

.homepage {
  background-color: #FFFFFF;
}
  
.main__title {
  text-align: center;
  color: var(--purple);
  font-size: 4.0em;
  line-height: 0.9em;
  font-weight: 800;
}

.main__btns { 
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 100px;
  width: 100%;
}

.main__link {
  font-weight: bold;
  text-decoration: none;
  border: 3px solid white;
  border-radius: 3px;
  width: 80%;
  padding: 13px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 25px;
  color: white;
}

.pick__dat {
  color:var(--purple);
  background-color: white;
}
