


.maincontainer__sitterinfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 120px 110px;
  grid-template-rows: 400px 40px auto;
  font-size: 34px;
  color: white;
  font-weight: 600;
  padding: 20px;
}  

.maincontainer__sitterinfo--image {
    grid-area: 1 / 1 / 2 / 7;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.maincontainer__sitterinfo--name {
    grid-area: 2 / 1 / 3 / 4;
    padding-right: 0;
}

.maincontainer__sitterinfo--age {
    grid-area: 2 / 5 / 3 / 6;
    border-right: 2px solid white;
}

.maincontainer__sitterinfo--gender {
    grid-area: 2 / 6 / 3 / 7;
    padding-left: 20px;
  }

.maincontainer__sitterinfo--description {
    grid-column: 1 / 7;
    grid-row: 3 / 4;
    font-size: 23px;
    letter-spacing: 0.025em;
    line-height: 1.35em;
    padding-top: 30px;
    font-weight: 300;
}

