.user-profile{
    margin-bottom: 60px;
}

.user-profile__details{
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 10px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}