@use '../../app.scss';

.paypal-btn{
    margin-top: 40px;
}

.payment {
    position: absolute;
    top: 350px;
    left: 60px;
    width: 80%;
    padding-bottom: 200px;
    overflow-y: auto;
    overscroll-behavior-y: contain;
}

.main__container__summarytable {
    display: grid;
    grid-template-columns: 80%  20%;
    grid-auto-rows: 40px;
    font-size: 18px;
    color: app.$purple;
    font-weight: 500;
    padding: 20px;
    align-items: end; 
}  

.main__container__summarytable--name {
  grid-column: 1 / 3;
  border-bottom: 1px solid app.$purple;
  font-weight: 700;
  padding-bottom: 13px;
}

.main__container__summarytable--date {
  grid-column: 1 / 2;
}

.main__container__summarytable--duration {
  grid-column: 2 / 3;
}

.main__container__summarytable--priceinfo {
  grid-column: 1 / 3;
}

.main__container__summarytable--calcprice {
  grid-column: 1 / 2;
  border-bottom: 1px solid app.$purple;
  padding-bottom: 13px;
}

.main__container__summarytable--calcprice-out {
  grid-column: 2 / 3;
  border-bottom: 1px solid app.$purple;
  padding-bottom: 13px;
}

.main__container__summarytable--totalprice {
  grid-column: 1 / 2; 
}

.main__container__summarytable--totalprice-out{
  grid-column: 2 / 3;
    font-weight: 700;
  }
  
.buttons-container {
    grid-column: 1/3;
}
